/* Portfolio Styles ... reverse colors */


body {
    margin: 0;
    font-family: 'Montserrat', cursive;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100vw;
}

.square-off {
    height: 100%;
    width: 100%;
    /* background: black; */
}

.header,
.footer,
.header-hover {
    position: fixed;
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;
    z-index: 100;
    opacity: 0;
    transition: ease-in 0.5s;
    font-size: 30px;
}

.footer {
    bottom: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    z-index: 100;
    opacity: 0;
    transition: ease-in 0.5s;
    color: white;
}

.header-hover {
    z-index: 250;
}

.logo {
    font-family: 'Cinzel Decorative', cursive;
    position: fixed;
    height: 70px;
    width: 150px;
    border: 1px solid black; /**/
    background: white; /**/
    top: 65px;
    left: calc(50vw - 75px);
    z-index: 10000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /**/
    /* font-family: ; */
}

.logo>a {
    font-size: 25px;
    color: black;/**/
    text-decoration: none;
}

.main-body {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background: white;
    color: black; /**/
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 125px calc(10vw + 25px);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-text {
    font-size: 15px;
    margin-top: 20px;
}

#white-mask,
#invinsible-mask {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    background: none;
    top: 0;
    left: 0;
}

#invinsible-mask {
    border: 3px solid white; /**/
    transition: all 0.5s ease-in;
    z-index: 800;
    top: 100px;
    left: 10vw;
    height: calc(100vh - 200px);
    width: 80vw;
    border: 3px solid black; /**/
}

#topp,
#bottomm,
#rightt,
#leftt {
    position: fixed;
    background: black; /**/
    transition: all 0.5s ease-in;
}

#topp {
    top: 0;
    left: 0;
    height: 0px;
    width: 100vw;
}

#rightt {
    right: 0;
    top: 0;
    height: 100vh;
    width: 0px;
}

#leftt {
    left: 0;
    top: 0;
    height: 100vh;
    width: 0px;
}

#bottomm {
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typewriter {
    text-align: center;
}

.nav-portfolio>a,
.nav-about>a {
    color: white; /**/
    font-size: 20px;
    text-decoration: none;
}

.nav-portfolio:hover,
.nav-about:hover {
    border-bottom: 3px solid white; /**/
    padding-bottom: 2px;
}


.portfolio-items {
    z-index: 100000000000000000000000000000;
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: row;
    overflow-wrap: break-word;
    padding-top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 0;
}

.item:first-child {
    border-right: 1px solid black;
}

.item>a {
    margin-top: 100px;
    font-size: 20px;
}

.item>a:visited {
    color: black;
}

.item>a:hover {
    text-decoration: line-through;
}

img {
    max-height: auto;
    width: 500px;
    margin: 20px auto 0 auto;
}

.item-bami {
    font-family: 'Cinzel Decorative', cursive;
    height: 70px;
    width: 150px;
    border: 1px solid black;
    background: white;
    left: calc(50vw - 75px);
    z-index: 10000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


@media screen and (max-width: 530px) {
    .header {
        justify-content: space-between;
    }
}

@media screen and (max-width: 580px) {
    .item>a {
        margin: 0;
    }

    .item:first-child {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .portfolio-items {
        z-index: 100000000000000000000000000000;
        width: 100%;
        height: 100%;
        display: flex !important;
        flex-direction: column;
        overflow-wrap: break-word;
        padding-top: 20px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .item-bami {
        margin-bottom: 5px;
    }
}

